.button1, .button2{
    box-shadow:inset 0px 1px 3px 0px grey;
	background:linear-gradient(to bottom,black 5%, black 100%);
	background-color: grey;
	border-radius:5px;
	border:1px solid #161616;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Trebuchet MS;
	font-size:14px;
	font-style:italic;
	padding:9px 18px;
	text-decoration:none;
	text-shadow:1px 1px 36px #2b665e;
}

.info{
	color: white;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* .favorite{
	border-radius: 90%;
} */

.info {
    border: 1px solid lightgray;
    padding: 2rem;
    display: flex;
	overflow-x: scroll;
	overflow-y: scroll;
    scroll-padding: 1 50%;
    scroll-snap-type: x mandatory;
}

li {
	margin-top: ;
	scroll-snap-align: center;
    display: inline-block;
    /* height: 83vh; */
    border-radius: 3px;
    font-size: 0;
	margin-right: 9%;
	max-height: 80vh;
}

.fav{
border-radius: 50%;
}

.Welcome {
color: #ffffff; 
font-family: "HeiT ASC Traditional Chinese", "M Hei PRC W45", "AXIS Font Japanese W55", "FB New Gothic", Swissra, "Gotham Medium", system, sans-serif;
font-size: 40px;
font-weight: 400;
height: 17px;
/* line-height: 17.5px; */
/* margin: 0px 10px; */
/* padding: 0px; */
/* width: 105px; */
}



