
  .login{
    transition: all 1s ease-in-out;
  }
  
  
  .username, .password {
    border: none;
    border-radius: 0;
    box-shadow: none;
    border-bottom: 2px solid #eee;
    padding-left: 0;
    font-weight: normal;
    background: transparent; 
    color: white;
    transition: 1s;
    style: none;
  }

